@model RaellShoes.Models.ViewModel.PedidoViewModel

@{ViewData["Title"] = "Pedidos";}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RaellShoes - Admin - Pedidos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/antigo/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/administrador">RaellShoes<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown  active">
                    <a href="#"><span>Parâmetros</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="admin-parametro-grupoprecificacao.html">Grupo de Precificação</a></li>
                        <li><a href="admin-parametro-fornecedor.html">Fornecedor</a></li>
                        <li><a href="admin-parametro-categoria.html">Categoria</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="admin-procurar-cupom.html">Cupons</a></li>
                <li><a class="nav-link scrollto" href="admin-procurar-troca.html">Trocas</a></li>
                <li><a class="nav-link scrollto" href="/administrador/Pedidos">Pedidos</a></li>
                <li><a class="nav-link scrollto" href="admin-procurar-cliente.html">Clientes</a></li>
                <li><a class="nav-link scrollto" href="admin-procurar-produto.html">Produtos</a></li>
                <li><a class="nav-link scrollto" href=""></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->


    </header><!-- End Header -->
    <!--Box Clientes-->
    <section id="cliente" class="cliente">
        <div class="container mt-5">
            <!--Box Clientes-->
            <div class="info-wrap" style="border-radius:20px">

                <h5><strong style="  color: rgb(13, 236, 181);">Procurar Pedido </strong></h5><br>
                <form asp-action="FiltrarPedidosAdmin">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                            <span>Número do pedido</span>
                            <input class="form-control" id="numero-pedido" placeholder="Número do pedido" asp-for="@Model.Pedido.NumeroPedido">
                        </div>

                        <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                            <span>Data do Pedido</span>
                            <input class="form-control" id="data-pedido" type="date" placeholder="Data do pedido" asp-for="@Model.Pedido.DataCompra">

                        </div>

                        <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                            <span>Forma de Pagamento</span>
                            <br>
                            <select class="form-select" asp-for="@Model.Pedido.FormaPagamento" asp-items="Html.GetEnumSelectList<RaellShoes.Models.Enums.FormaPagamento>()">
                                <option></option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                            <span>Status</span>
                            <br>
                            <select class="form-select" asp-for="@Model.Pedido.Status" asp-items="Html.GetEnumSelectList<RaellShoes.Models.Enums.StatusPedido>()">
                                <option></option>

                            </select>
                        </div>
                    </div><br><br>
                    <button class="col-lg-12 btn btn-success btn-sm" style="color: white;">Procurar </button><br>


                </form>
            </div>
        </div>

        @if (Model.Pedidos!= null)
        {
            <!--Últimos Clientes-->
            <div class="container mt-5" id="resultado" >
                <!--Box ultimos clientes-->
                <div class="info-wrap" style=" border-radius:20px; text-align: center;">
                    <h5><strong style="  color: rgb(13, 236, 181);">Resultado </strong></h5><br>

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-12 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                            <table class="table table-hover col-lg-10">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">CPF</th>
                                        <th scope="col">Número do pedido</th>
                                        <th scope="col">Data do pedido</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Pedidos)
                                    {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Cliente.Cpf)</td>
                                        <td> @Html.DisplayFor(modelItem => item.NumeroPedido)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DataCompra)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                        <form>
                                            <td><button asp-action="DetalhesPedido" asp-route-id="@item.Id" class="btn btn-info btn-sm">Ver Pedido</button></td>
                                         </form>
                                    </tr>

                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        }



    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <header id="header" class="d-flex align-items-center" style="margin-top: 200px;">
        </header>
        <div class="footer-top" style="margin-top: -90px;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>RaellShoes<span>.</span></h3>
                        <p>
                            Avenida Paulista, 9999 <br>
                            São Paulo, SP 15370-496<br>
                            Brasil <br><br>
                            <strong>Telefone:</strong> 11 989462969<br>
                            <strong>Email:</strong> raellcurvelo@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contato</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Navegue</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Masculino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Feminino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Infantil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lançamentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Outlet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociais</h4>
                        <p>Nos siga em nossas redes socias para conhecer um pouco mais sobre a RaellShoes</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>RaellShoes</span></strong>. Todos os direitos reservados.
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://www.linkedin.com/in/israel-curvelo-0a9686173/">Israel Curvelo</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>



    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()


                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

    <script>
        function formatar(mascara, documento) {
            var i = documento.value.length;
            var saida = mascara.substring(0, 1);
            var texto = mascara.substring(i)
            if (texto.substring(0, 1) !== saida) {
                documento.value += texto.substring(0, 1);
            }
        }

        function mostrarResultado() {
            var campo = document.getElementById("resultado").hidden;

            if (campo)
                document.getElementById("resultado").hidden = false;
            else
                document.getElementById("resultado").hidden = true;
        }
    </script>

    <!--Vendor JS Files-->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
