@model RaellShoes.Models.ViewModel.PedidoViewModel



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RaellShoes - Meus Pedidos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/antigo/css/style.css" rel="stylesheet">

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/clientes">RaellShoes<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar">

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="/clientes">Início</a></li>
                        <li><a class="nav-link scrollto" href="/clientes/procurarproduto">Pesquisar um Produto</a></li>
                        <li><a class="nav-link scrollto" href="">Sobre Nós</a></li>
                        <li><a class="nav-link scrollto" href="">Contato</a></li>
                        <li><a class="nav-link scrollto" href="">Perguntas Frequentes</a></li>
                        <li><a class="nav-link scrollto" href="/clientes/carrinho">Carrinho</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Meu Perfil</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/clientes/meuperfil">Meu Perfil</a></li>
                                <li><a href="/clientes/meusenderecos">Meus Endereços</a></li>
                                <li><a href="/clientes/meuscartoes">Meus Cartões</a></li>
                                <li><a href="/clientes/meuspedidos">Meus Pedidos</a></li>
                                <li><a href="/clientes/troca">Troca e Devoluções</a></li>
                                <li><a href="">Ranking e Vales</a></li>
                                <li><a href="">Alterar Senha</a></li>
                                <li><a href="/">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <section id="cliente" class="cliente">
        <div class="container" style="padding-top: 40px; margin-bottom: -30px;">
            <div class="section-title2">
                <h2>Meus <span style="color: rgb(65, 199, 121);">Pedidos </span></h2>
            </div>
        </div>

        @if (Model.Pedidos.Count >0 )
        {
            @foreach (var item in Model.Pedidos)
            {<!--Pedido-->
                <div class="container mt-5">
                    <!--Box Dados Pedido-->
                    <div class="info-wrap" style=" border-radius:20px">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                <span>Número do Pedido </span>
                                <input disabled type="textarea" name="numero-pedido" readonly class="form-control-plaintext" id="numero-pedido" value="@Html.DisplayFor(x => item.NumeroPedido)" style="color: green; font-weight: bold;">
                                <br>
                            </div>

                            <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                <span>Valor Total </span>
                                <input disabled type="textarea" name="valor-pedido" readonly class="form-control-plaintext" id="valor-pedido" value="R$ @Html.DisplayFor(x => item.ValorTotal)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                <br>
                            </div>

                            <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                <span>Data da Compra</span>
                                <input disabled type="text" name="forma-pagamento" readonly class="form-control-plaintext" id="data-pagamento" value="@Html.DisplayFor(x => item.DataCompra)" style="color: rgb(62, 91, 255); font-weight: bold;">
                            </div>

                            <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                <span>Forma de Pagamento</span>
                                <input disabled type="text" name="forma-pagamento" readonly class="form-control-plaintext" id="forma-pagamento" value="Cartão de Crédito" style="color: rgb(62, 91, 255); font-weight: bold;">
                            </div>

                            <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                <span>Status</span>
                                <input disabled type="text" readonly class="form-control-plaintext" name="status-produto" id="status-produto" value="@Html.DisplayFor(x => item.Status)" style="color: rgb(62, 91, 255); font-weight: bold; font-style: italic;">
                                <div class="validate"></div>
                            </div>


                            <div class="col-lg-2 col-md-1 form-group mt-3 mt-md-0" id="comb-form">
                                <input type="button" class="btn btn-outline-info btn-sm" style="margin-top: 20px; margin-left:-8px; border-radius:5px" id="detalhes-pedido-@item.Id" value="Ver Mais" onclick="mostrarDetalhes(@item.Id, 'detalhes-pedido-@item.Id')">
                            </div>
                        </div>

                      

                        <!--Componente de prodtos-->
                        <div class="row" id="@item.Id" style="margin-top: 40px;" hidden>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Valor do Frete </span>
                                    <input disabled type="textarea" name="valor-frete" readonly class="form-control-plaintext" id="valor-frete" value="R$ @Html.DisplayFor(x => item.ValorFrete),00" style="color: rgb(62, 91, 255); font-weight: bold;">

                                    <br>
                                </div>

                                <div class="col-lg-10 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Endereço de Entrega </span>
                                    <input disabled type="textarea" name="endereco-entrega" readonly class="form-control-plaintext" id="endereco-entrega" value="@Html.DisplayFor(x => item.EnderecoEntrega)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                    <br>
                                </div>
                            </div>

                            @if (item.Cupom != null)
                            {
                                <div class="row">

                                    <div class="col-lg-4 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                        <span>Cupom</span>
                                        <input disabled type="text" name="cupom-pagamento" readonly class="form-control-plaintext" id="cupom-pagamento" value="@Html.DisplayFor(x => item.Cupom.Descricao)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                    </div>

                                    <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                        <span>Desconto</span>
                                        <input disabled type="text" name="cupom-desconto" readonly class="form-control-plaintext" id="cupom-desconto" value="R$ @Html.DisplayFor(x => item.Cupom.Desconto)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                    </div>



                                </div>
                            }
                            else
                            {
                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                    <span>Cupom</span>
                                    <input disabled type="text" name="cupom-pagamento" readonly class="form-control-plaintext" id="cupom-pagamento" value="Não Aplicado" style="color: rgb(62, 91, 255); font-weight: bold;">
                                </div>

                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                    <span>Desconto</span>
                                    <input disabled type="text" name="cupom-desconto" readonly class="form-control-plaintext" id="cupom-desconto" value="R$ 0,00" style="color: rgb(62, 91, 255); font-weight: bold;">
                                </div>

                            }

                            <br><br><br><br>

                            <div class="row">
                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Cartões usados </span>
                                    <input disabled type="textarea" name="numero-pedido" readonly class="form-control-plaintext" id="numero-pedido" value="@Html.DisplayFor(x => item.NumeroCartoesUsados)" style=" color: rgb(62, 91, 255);font-weight: bold;">
                                    <br>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Apelido Cartão </span>
                                    <input disabled type="textarea" name="valor-pedido" readonly class="form-control-plaintext" id="valor-pedido" value="@Html.DisplayFor(x => item.Cartao1Apelido)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                    <br>
                                </div>

                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                    <span>Valor</span>
                                    <input disabled type="text" name="forma-pagamento" readonly class="form-control-plaintext" id="data-pagamento" value="R$ @Html.DisplayFor(x => item.Cartao1Valor)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                </div>

                                <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                    <span>Parcelamento</span>
                                    <input disabled type="text" name="forma-pagamento" readonly class="form-control-plaintext" id="forma-pagamento" value="@Html.DisplayFor(x => item.Parcelamento1Valor)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                </div>


                            </div>

                            @if (item.NumeroCartoesUsados == 2)
                            {
                                <br><br><br>
                                <div class="row">

                                    <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                                        <span>Apelido Cartão </span>
                                        <input disabled type="textarea" name="valor-pedido" readonly class="form-control-plaintext" id="valor-pedido" value="@Html.DisplayFor(x => item.Cartao2Apelido)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                        <br>
                                    </div>

                                    <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                        <span>Valor</span>
                                        <input disabled type="text" name="forma-pagamento" readonly class="form-control-plaintext" id="data-pagamento" value="R$ @Html.DisplayFor(x => item.Cartao2Valor)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                    </div>

                                    <div class="col-lg-2 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                                        <span>Parcelamento</span>
                                        <input disabled type="text" name="forma-pagamento" readonly class="form-control-plaintext" id="forma-pagamento" value="@Html.DisplayFor(x => item.Parcelamento2Valor)" style="color: rgb(62, 91, 255); font-weight: bold;">
                                    </div>


                                </div>
                            }

                            <br><br><br><br><hr /><br>

                            <h5><strong style="padding-left: 10px;  color:rgb(65, 199, 121);"> Produtos </strong></h5><br>
                            <br><br>

                            @foreach (var produto in Model.ProdutosPedidos)
                            {
                                if (produto.PedidoId == item.Id)
                                {
                                    <!--Produto -->
                                    <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                        <span></span>
                                        <img src="~/assets/img/Produtos/@Html.DisplayFor(model => produto.URLFoto)"
                                             id="img-historico" />
                                    </div>

                                    <div class="col-lg-10 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                        <span>Descrição</span>
                                        <input disabled type="textarea" name="descricao-produto" readonly class="form-control-plaintext" id="descricao-produto" value="@Html.DisplayFor(model => produto.Marca) @Html.DisplayFor(model => produto.Modelo) - @Html.DisplayFor(model => produto.Nome)">
                                        <div class="validate"></div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                                <span>Valor</span>
                                                <input disabled type="text" name="valor-produto" readonly class="form-control-plaintext" id="valor-produto" value="R$ @Html.DisplayFor(model => produto.Valor)">
                                            </div>
                                            <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                                <span>Tamanho</span>
                                                <input disabled type="textarea" name="tamanho-produto" readonly class="form-control-plaintext" id="tamanho-produto" value="@Html.DisplayFor(model => produto.Tamanho)">
                                            </div>

                                            <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                                <span>Cor</span>
                                                <input disabled type="textarea" name="cor-produto" readonly class="form-control-plaintext" id="cor-produto" value="@Html.DisplayFor(model => produto.CorPrimariaProduto)">
                                            </div>

                                            <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                                <span>Quantidade</span>
                                                <input disabled type="number" name="qtde-produto" readonly class="form-control-plaintext" id="qtde-produto" value="@Html.DisplayFor(model => produto.Quantidade)">
                                            </div>

                                            @if (item.Status == RaellShoes.Models.Enums.StatusPedido.Entregue)
                                            {
                                                <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="preencherModal(@produto.Id)">Solicitar Troca</button>
                                                </div>

                                            }


                                        </div>
                                    </div>

                                    <hr>

                                }

                            }

                        </div>
                    </div>
                </div>
            }



        }
        else
        {
            <div class="container mt-5">
                <!--Box Dados Pedido-->
                <div class="info-wrap" style=" border-radius:20px">
                    <div class="row">
                        <div class="section-title">
                            <i class="bi bi-emoji-frown" style="color: black; font-size: 300%"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="section-title">
                            <h4 style="color: black">Você ainda não efetuou uma compra conosco :/</h4>
                        </div>
                    </div>
                </div>
            </div>
        }





        <br><br>

    </section>

    <!-- Modal Troca -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body">

                    <section id="cliente" class="cliente" style="font-size:small">
                        <div class="container" style="padding-top: 40px; margin-bottom: -30px;">
                            <div class="section-title2">
                                <h2>Solicitação de <span style="color: rgb(226, 43, 226);">Troca </span></h2>
                            </div>
                        </div>

                        <!--Form-->
                        <div class="container mt-5">
                            <form asp-action="SolicitacaoTroca" class="needs-validation" novalidate>
                                <input type="text" id="id-modal" asp-for="@Model.Troca.IddoProduto" hidden/>
                                <!--Solicitar Troca-->
                                <div class="info-wrap">
                                    <div class="col-lg-3 col-md-6 info">
                                        <i class="bi bi-arrow-left-right" style="margin-top: -8px; color: rgb(142, 104, 179); background-color: rgba(220, 179, 235, 0.397);"></i>
                                    </div>
                                    <h4> <strong style="padding-left: 10px; color: blueviolet;"> Nos conte um pouco sobre essa solicitação</strong></h4><br>


                                    
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                            <span>Motivo da Troca</span>
                                            <select id="motivo-troca" class="form-select" asp-for="@Model.Troca.MotivoTroca" asp-items="Html.GetEnumSelectList<RaellShoes.Models.Enums.MotivoTroca >()" style="font-size:small" required onchange="mostrarExibirSolicitacao()">
                                                <option></option>
                                                
                                            </select>
                                            <div class="invalid-feedback">
                                                *Campo obrigatório
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="div-outro-motivo" hidden>
                                            <span style="color: black;">Qual motivo?</span>
                                            <input type="text" class="form-control" id="outro-motivo" style="font-size:small" asp-for="@Model.Troca.OutroMotivo"
                                                   placeholder="Especifique">
                                            <div class="invalid-feedback">
                                                *Campo obrigatório
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                            <span>Tipo de reembolso desejado</span>
                                            <select class="form-select" id="tipo-reembolso" asp-for="@Model.Troca.TipoReembolso" asp-items="Html.GetEnumSelectList<RaellShoes.Models.Enums.TipoReembolso>()" style="font-size:small" required onchange="mostrarExibirSolicitacao()">
                                                <option></option>
                                                
                                            </select>
                                            <div class="invalid-feedback">
                                                *Campo obrigatório
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="div-tamanho-troca" hidden>
                                            <span style="color: black;">Qual Tamanho?</span>
                                            <select class="form-select" id="tamanho-troca"asp-for="@Model.Troca.Tamanho" asp-items="Html.GetEnumSelectList<RaellShoes.Models.Enums.Tamanho>()" style="font-size:small">
                                                <option></option>
                                                
                                            </select>
                                            <div class="invalid-feedback">
                                                *Campo obrigatório
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                            <span>Método de coleta</span>
                                            <select class="form-select" id="metodo-coleta" asp-for="@Model.Troca.MetodoColeta" asp-items="Html.GetEnumSelectList<RaellShoes.Models.Enums.MetodoColeta>()" style="font-size:small" required>
                                                <option></option>
                                               
                                            </select>
                                            <div class="invalid-feedback">
                                                *Campo obrigatório
                                            </div>
                                        </div>




                                        <div class="col-lg-12 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                            <span>Comentários</span>
                                            <textarea type="text" rows="4" class="form-control" id="comentarios" style="font-size:small"asp-for="@Model.Troca.Comentarios"
                                                      placeholder="Deseja realizar algum comentário?" required></textarea>
                                            <div class="invalid-feedback">
                                                *Campo obrigatório
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <button class="btn btn-success btn-sm col-lg-12" style=" border-radius:8px;">Enviar</button>
                                    </div>
                                </div>
                            </form>
                            <br>
                        </div>

                    </section>
                    <br>
                </div>

            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <header id="header" class="d-flex align-items-center" style="margin-top: 200px;">
        </header>
        <div class="footer-top" style="margin-top: -90px;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>RaellShoes<span>.</span></h3>
                        <p>
                            Avenida Paulista, 9999 <br>
                            São Paulo, SP 15370-496<br>
                            Brasil <br><br>
                            <strong>Telefone:</strong> 11 989462969<br>
                            <strong>Email:</strong> raellcurvelo@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contato</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Navegue</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Masculino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Feminino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Infantil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lançamentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Outlet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociais</h4>
                        <p>Nos siga em nossas redes socias para conhecer um pouco mais sobre a RaellShoes</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>RaellShoes</span></strong>. Todos os direitos reservados.
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://www.linkedin.com/in/israel-curvelo-0a9686173/">Israel Curvelo</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <script>
        function mostrarDetalhes(id, idbotao) {

            if (document.getElementById(id).hidden) {
                document.getElementById(id).hidden = false
                document.getElementById(idbotao).value = "Recolher";
            } else {
                document.getElementById(id).hidden = true;
                document.getElementById(idbotao).value = "Ver Mais";
            }
        }

        function preencherModal(id) {
            document.getElementById("id-modal").value = id;
        }
    </script>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()


                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

    <script>
        function mostrarExibirSolicitacao() {
            var motivoTroca = document.getElementById('motivo-troca').value;
            var tipoReembolso = document.getElementById('tipo-reembolso').value;

            if (motivoTroca == 5) {
                document.getElementById('div-outro-motivo').hidden = false;
                document.getElementById('outro-motivo').required = true;
            } else {
                document.getElementById('div-outro-motivo').hidden = true;
                document.getElementById('outro-motivo').required = false;
            }

            if (tipoReembolso == 1) {
                document.getElementById('div-tamanho-troca').hidden = false;
                document.getElementById('tamanho-troca').required = true;
            } else {
                document.getElementById('div-tamanho-troca').hidden = true;
                document.getElementById('tamanho-troca').required = false;
            }
        }
    </script>



    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
